/* Universal Styles */

 body {
    font-family: Helvetica ;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
 }

 .flex-container {
    display: flex;
 }

/* Main Styles */

 header {
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
    z-index: 1;
    height: 69px;
    border-bottom: solid 1px seashell;
  }

 header img {
    height: 50px;
    padding-left: 10px;
 }

nav a {
    padding: 15px;
    color: seashell;
}

#mission {
    height: 700px;
    width: 100%;
    justify-content: center;
}
#mission-conntent {
   background-image: url(../images/img-mission-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   display: flex;
   align-items: center;
   min-width: 1200px;
}
#mission .headings {
   background-color: #000;
   width: 100%;
}
.headings h4 {
   font-size: 22px;
}
/* .images {
    display:flex;
    align-content: center;
    height: 200px;
    width: 300px;
} */


#featured {
   max-width: 1000px;
   margin: auto;
   padding: 40px 0;
}
#featured img {
   max-width: 300px;
   max-height: 200px;
}
#featured h4 {
   margin-top: 10px;
   position: relative;
   top: -5px;
}
.featuredh {
   text-align: center;
}
.featured1 {
   display: flex;
   justify-content: space-between;
}
.featured2{
   display: flex;
   justify-content: center;
   gap: 50px;
   /* justify-content: space-around; */
}

/* Locations */
#location {
   padding: 0 30px;
}

.location-content{
   background-image: url(../images/img-locations-background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 500px;
}
.headl h2 {
   margin-bottom: 15px;
}
.locations {
   display: flex;
   gap: 40px;
   /* margin: auto; */
   justify-content: center;
}
.locations div {
   min-width: 300px;
   background-color: black;
}
.locations div ul {
   list-style-type: none;
   padding: 0;
}